<!-- sidebar.html -->
<div class="sidebar-header" role="banner">
	<a href="{{ site.BASE_PATH }}/">
		<img src="http://www.gravatar.com/avatar/{{site.data.author.email_md5}}?s=210" class="img-circle" alt="Adam Świderski photo" title="Adam Świderski"/>
	</a>
	<div id="title_container" class="text-center">
		<span class="title">
			{{ site.data.author.bio_title }}
		</span>
	</div>
</div>

{% if site.data.author.bio %}
<div id="bio" class="bio text-center">
	<span>{{ site.data.author.bio }}</span>
</div>
{% endif %}
<div id="about_link" class="bio text-center">
	<span>More <a href="/{{ site.ABOUT }}/">about me</a></span>
</div>

<div id="contact-list" class="text-center">
	<ul class="list-unstyled list-inline">
		{% if site.data.author.github %}
		<li>
			<a class="btn btn-default btn-sm" href="https://github.com/{{ site.data.author.github }}">
				<i class="fa fa-github-alt fa-lg"></i>
			</a>
		</li>
		{% endif %}
		{% if site.data.author.twitter %}
		<li>
			<a class="btn btn-default btn-sm" href="https://twitter.com/{{ site.data.author.twitter }}">
				<i class="fa fa-twitter fa-lg"></i>
			</a>
		</li>
		{% endif %}
		{% if site.data.author.email %}
		<li>
			<a class="btn btn-default btn-sm" href="mailto:{{ site.data.author.email }}">
				<i class="fa fa-envelope fa-lg"></i>
			</a>
		</li>
		{% endif %}
		{% if site.data.author.pinterest %}
		<li>
			<a class="btn btn-default btn-sm" href="https://pinterest.com/{{ site.data.author.pinterest }}">
				<i class="fa fa-pinterest fa-lg"></i>
			</a>
		</li>
		{% endif %}
		{% if site.data.author.linkedin %}
		<li>
			<a class="btn btn-default btn-sm" href="https://linkedin.com/in/{{ site.data.author.linkedin }}">
				<i class="fa fa-linkedin fa-lg"></i>
			</a>
		</li>
		{% endif %}
		<li>
			<a class="btn btn-default btn-sm" href="{{ site.BASE_PATH }}/{{ site.rss_path }}">
				<i class="fa fa-rss fa-lg"></i>
			</a>
		</li>
	</ul>
</div>
<!-- nav-menu -->
<div class="sidebar_menu">
	<ul>
		<a type="button" class="" href="{{ site.BASE_PATH}}/"><li><i class="fa fa-home"></i>{{site.data.i18n.home}}</li></a>
		<a type="button" class="" href="{{ site.ABOUT}}/"><li><i class="fa fa-user-circle"></i>{{site.data.i18n.about}}</li></a>
		<a type="button" class="" href="{{ site.BASE_PATH}}/{{ site.categories_path }}"><li><i class="fa fa-folder"></i>{{site.data.i18n.categories}}</li></a>
		<a type="button" class="" href="{{ site.BASE_PATH}}/{{ site.tags_path }}"><li><i class="fa fa-tags"></i>{{site.data.i18n.tags}}</li></a>
	</ul>
</div>
<!-- sidebar.html end -->
